<div class="container-fluid mt-4">
  <!-- Dashboard Title -->
  <h2 class="text-left mb-4">Absence</h2>

  <!-- Add Absence Button -->
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" [routerLink]="['/main/gerer-absence']">Ajouter</button>
  </div>

  <!-- Absence Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Reason</th>
        <th scope="col">Student Name</th>
        <th scope="col">Matière</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let absence of absences">
        <td>{{ absence.date }}</td>
        <td>{{ absence.reason }}</td>
        <td>{{ getStudentNameById(absence.studentId)  }} </td> <!-- Display student's name -->
        <td>{{ absence.matiere }}</td>
        <td>
          <!-- Edit Button -->
          <button class="btn btn-success" [routerLink]="['/main/gerer-absence', absence.id]">Modifier</button>
          <!-- Delete Button -->
          <button class="btn btn-danger ms-2" (click)="delete(absence.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
