<div class="container-fluid d-flex  p-0">
    <!-- Sidebar -->
    <div class="col-2 bg-dark text-white sidebar   y-4 px-2 d-flex flex-column min-vh-100">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/main/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/main/student" routerLinkActive="active">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/main/absence" routerLinkActive="active">Absence</a>
        </li>
      </ul>
  
      <!-- Spacer to push logout button to bottom -->
      <div class="mt-auto">
        <!-- Logout Button -->
        <button class="btn btn-danger w-50" (click)="logout()" >Logout</button>
      </div>
    </div>
  
    <!-- Main Content Area -->
    <div class="col-10 p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
  